---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/embed/yt_video_id_31?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.youtube.com/embed/yt_video_id_31?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Apr 2016 16:08:02 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_31?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |2-

        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><title>YouTube</title><meta name="viewport" content="width=device-width, initial-scale=1"><style name="www-roboto">@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf)format('truetype');}</style><script name="www-roboto">if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/www-embed-player-vfl5foy2V.css" name="www-embed-player">
        <script>__yt_experimental_now = __spf_experimental_now = true;</script><script>var ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n] = {tick: {},span: {},info: {}});},now: window.performance && window.performance.timing &&window.performance.now && window['__yt_experimental_now'] ? function() {return window.performance.timing.navigationStart + window.perfor[...]
[...]
- request:
    method: get
    uri: https://www.youtube.com/yts/cssbin/www-player-vflixZhfO.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Mon, 26 Feb 2018 09:28:37 GMT
    body:
      encoding: UTF-8
      string: '.html5-video-player{position:relative;width:100%;height:100%;overflow:hidden;outline:0;font-family:"YouTube
        Noto",Roboto,Arial,Helvetica,sans-serif;color:#eee;text-align:left;direction:ltr;font-size:11px;line-height:1.3;-webkit-font-smoothing:antialiased;-webkit-tap-highlight-color:rgba(0,0,0,0);touch-action:manipulation;contain:size
        layout style;-ms-high-contrast-adjust:none}.html5-video-player[...]
- request:
    method: get
    uri: https://www.youtube.com/yts/jsbin/www-embed-player-vflUEo7aC/www-embed-player.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Mon, 26 Feb 2018 09:09:58 GMT
    body:
      encoding: UTF-8
      string: |
        (function(){var l,aa="function"==typeof Object.create?Object.create:function(a){function b([...]
- request:
    method: get
    uri: https://www.youtube.com/yts/jsbin/player-vfldJxavu/en_US/base.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Mon, 26 Feb 2018 19:05:40 GMT
    body:
      encoding: UTF-8
      string: |
        var _yt_player={};(function(g){var window=this;var ba,ea,ka,ia,la,ra,sa,ya,caa,daa,Ha,Ia,eaa,Na,Qa,Xa,ab,fb[...]
